<html>
<head>
  <title>Issue Tracker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" >

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
  <script src="resources/js/application.js"></script>

  <link href="resources/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="resources/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link href="resources/css/application.css" rel="stylesheet" type="text/css" />

<script src="resources/js/jquery-3.1.0.min.js"></script>
<script src="resources/js/angular.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="MainController">
<div ng-include="'header.html'"></div>

  <div ng-include="'login_register.html'"></div>

  <!-- <div ng-include="'user.html'"></div> -->

  <!-- <div ng-include="'admin.html'"></div> -->

  <div ng-include="'footer.html'"></div>

  <script src="resources/js/bootstrap.js"></script>
  <script src="resources/js/font-awesomes.js"></script>


</body>
</html>
